:root {
    --border-width: 1px;
    --border-style: solid;
    --font-size-small: 12px;
    --font-weight-semibold: 500;
    --size-2: 20px
}

.home-hero-container {
    min-height: 750px;
    max-height: 926px;
    background-color: #040d21
}

@media(min-width: 544px) {
    .home-hero-container {
        min-height:850px
    }
}

@media(min-width: 768px) {
    .home-hero-container {
        height:94vh;
        min-height: 860px
    }
}

.home-hero {
    padding: 8rem 0 0
}

@media(min-width: 768px) {
    .home-hero {
        padding:8rem 0
    }
}

.home-astro-mona {
    left: 50%;
    max-width: 480px;
    transform: translateX(-50%)
}

@media(min-width: 768px) {
    .home-globe-container {
        height:auto
    }
}

.home-globe-container-video,.home-globe-container-webgl {
    position: relative;
    left: -100vw;
    width: 300vw;
    height: 150vw;
    max-height: 900px;
    margin-left: -0.9rem
}

@media(min-width: 768px) {
    .home-globe-container-video,.home-globe-container-webgl {
        margin-left:-2rem
    }
}

@media(min-width: 1012px) {
    .home-globe-container-video,.home-globe-container-webgl {
        left:0;
        width: 900px;
        height: 900px;
        margin-left: -150px
    }
}

.home-globe::after {
    position: absolute;
    top: 0;
    right: -2rem;
    bottom: 0;
    left: -2rem;
    display: block;
    pointer-events: none;
    content: "";
    background: linear-gradient(to bottom, rgba(4, 13, 33, 0) 0%, #040d21 60%);
    opacity: .3
}

@media(min-width: 768px) {
    .home-globe::after {
        background:linear-gradient(to bottom, rgba(4, 13, 33, 0) 0%, #040d21 40%)
    }
}

@media(min-width: 1012px) {
    .home-globe::after {
        display:none
    }
}

.home-hero-glow {
    top: 50%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -50%)
}

.home-nav-outer.build-in-animate {
    position: fixed
}

.home-nav-bg {
    display: none
}

.on .home-nav-bg {
    display: block
}

@media(min-width: 768px) {
    .home-nav-bg {
        display:none !important
    }
}

.home-nav {
    opacity: 0
}

@media(min-width: 768px) {
    .home-nav {
        opacity:1
    }
}

.build-in-animate .home-nav {
    position: fixed !important;
    top: 0;
    box-shadow: 0 2.75px 2.21px rgba(0,0,0,.07),0 6.65px 5.32px rgba(0,0,0,.043),0 12.5px 10px rgba(0,0,0,.03),0 22px 18px rgba(0,0,0,.03),0 42px 33.4px rgba(0,0,0,.02),0 100px 80px rgba(0,0,0,.017),0 1px 0 0 rgba(4,13,33,.1);
    opacity: 1
}

.build-in-animate .home-nav .home-nav-hidden {
    padding-left: 16px;
    overflow: visible;
    opacity: 1;
    flex: 1
}

.home-nav .octicon-three-bars {
    display: inline-block
}

.home-nav .octicon-x {
    display: none
}

.home-nav.on .octicon-three-bars {
    display: none
}

.home-nav.on .octicon-x {
    display: inline-block;
    transform: scale(1.4)
}

.home-nav.on .home-nav-container,.home-nav.on .home-nav-links-container,.home-nav.on .home-nav-links {
    width: 100%;
    flex-direction: column;
    align-items: start
}

@media(min-width: 768px) {
    .home-nav.on .home-nav-container,.home-nav.on .home-nav-links-container,.home-nav.on .home-nav-links {
        flex-direction:row;
        align-items: center
    }
}

.home-nav.on .home-nav-links {
    width: 100%
}

.home-nav.on .home-nav-links.selected {
    padding: .5rem 1rem
}

@media(min-width: 768px) {
    .home-nav.on .home-nav-links {
        width:75%
    }
}

.home-nav.on .home-nav-item {
    display: block;
    border-left: 2px solid transparent
}

.home-nav.on .home-nav-item.selected {
    padding: .5rem 1rem;
    border-color: #2188ff
}

@media(min-width: 768px) {
    .home-nav.on .home-nav-item.selected {
        padding:.5rem 0
    }
}

@media(min-width: 768px) {
    .home-nav.on .home-nav-item {
        padding:.5rem 0;
        border-bottom: 2px solid transparent;
        border-left: 0
    }
}

.home-nav.on .home-nav-hidden {
    width: 100%;
    flex: auto;
    padding: .5rem 1rem
}

@media(min-width: 768px) {
    .home-nav.on .home-nav-hidden {
        flex:1;
        width: auto
    }
}

.home-nav-trigger {
    background: none;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none
}

.home-nav-container {
    flex-direction: row;
    align-items: center
}

.home-nav-links-container,.home-nav-links {
    align-items: center
}

.home-nav-item {
    display: none;
    padding: .5rem 1rem;
    border-left: 2px solid transparent
}

.home-nav-item.selected {
    display: block;
    padding: .5rem 0;
    color: #040d21 !important
}

@media(min-width: 768px) {
    .home-nav-item.selected {
        border-color:#2188ff
    }
}

@media(min-width: 768px) {
    .home-nav-item {
        display:block;
        padding: .25rem 0;
        border-bottom: 2px solid transparent;
        border-left: 0
    }
}

.home-nav-hidden {
    padding: 0 1rem;
    opacity: 0;
    transition: .4s opacity cubic-bezier(0.16, 1, 0.3, 1);
    flex: 0
}

@media(min-width: 768px) {
    .home-nav-hidden {
        padding:0;
        overflow: hidden;
        transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1),flex 400ms cubic-bezier(0.16, 1, 0.3, 1)
    }
}

.home-git-log-light,.home-git-log-dark {
    position: relative
}

.home-git-log-light::after,.home-git-log-dark::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    display: block;
    width: 2px;
    content: "";
    background: #dadfe9
}

@media(min-width: 544px) {
    .home-git-log-light::after,.home-git-log-dark::after {
        left:-24px
    }
}

.home-git-log-center {
    position: relative
}

.home-git-log-center::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    z-index: -1;
    display: none;
    width: 2px;
    content: "";
    background: #dadfe9
}

@media(min-width: 1012px) {
    .home-git-log-center::after {
        display:block
    }
}

.bg-home-dark {
    background-color: #040d21
}

.home-git-log-dark::after,.home-git-log-dark-icons::after {
    background: #42526d
}

.home-git-log-dark .home-git-icon,.home-git-log-dark-icons .home-git-icon {
    background: #040d21
}

.home-git-log-dark .home-git-icon>path,.home-git-log-dark-icons .home-git-icon>path {
    fill: #42526d
}

.home-git-log-dark .home-git-icon>circle,.home-git-log-dark-icons .home-git-icon>circle {
    fill: #040d21;
    stroke: #42526d
}

.home-git-log-dark .home-branch>path,.home-git-log-dark-icons .home-branch>path {
    stroke: #42526d
}

.home-git-log-light .home-git-icon {
    background: var(--color-canvas-default)
}

.home-git-log-light .home-git-icon>rect {
    fill: #fff
}

.home-git-log-light .home-git-icon>path {
    fill: #dadfe9
}

.home-git-log-light .home-git-icon>circle {
    fill: #fff;
    stroke: #dadfe9
}

.home-git-log-light .home-branch>path {
    stroke: #dadfe9
}

.home-branch {
    left: calc(8.33333% - 1.5rem);
    width: calc(8.33333% + 0.125rem);
    height: 8.875rem
}

.home-branch-container {
    margin-left: calc(8.33333% - 14px)
}

@media(min-width: 544px) {
    .home-branch-container {
        margin-left:calc(8.33333% - 33px)
    }
}

@media(min-width: 768px) {
    .home-branch-container {
        margin-left:0
    }
}

.home-git-item {
    margin-left: -42px
}

@media(min-width: 544px) {
    .home-git-item {
        margin-left:-60px
    }
}

.home-git-log-terminal {
    margin-left: 0
}

@media(min-width: 768px) {
    .home-git-log-terminal {
        margin-left:-35px
    }
}

.home-repo-comp::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(8.33333% - 24px);
    display: block;
    width: 2px;
    content: "";
    background: #42526d
}

@media(min-width: 544px) {
    .home-repo-comp::after {
        left:calc(8.33333% - 44px)
    }
}

.home-repo-editor {
    min-height: 330px;
    padding-top: calc(850 / 1248 * 100%);
    font-size: .8125rem;
    background-color: #0c162d;
    box-shadow: 0 0 0 1px rgba(255,255,255,.1),0 34px 65px #040d21,0 2.75px 2.21px rgba(0,0,0,.07),0 6.65px 5.32px rgba(0,0,0,.043),0 12.5px 10px rgba(0,0,0,.03),0 22px 18px rgba(0,0,0,.03),0 42px 33.4px rgba(0,0,0,.02),0 100px 80px rgba(0,0,0,.017)
}

@media(min-width: 544px) {
    .home-repo-editor {
        min-height:0
    }
}

@media(min-width: 768px) {
    .home-repo-editor {
        padding-top:calc(740 / 1248 * 100%)
    }
}

.home-repo-editor.build-in-animate {
    animation: .7s ease home-repo-editor-fly-up forwards 4s
}

@media(min-width: 768px) {
    .home-repo-editor.build-in-animate {
        animation:.7s ease home-repo-editor-fly-up-md forwards 4s
    }
}

@media(min-width: 1012px) {
    .home-repo-editor.build-in-animate {
        animation:.7s ease home-repo-editor-fly-up-lg forwards 4s
    }
}

.home-repo-editor-filetree {
    background-color: #0c162d;
    border-right: 1px solid #040d21
}

.home-repo-editor-tabs,.home-repo-editor-filetree {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: #b5bfd2
}

.home-repo-editor-tab,.home-repo-editor-tab--active {
    padding: .75rem 1rem;
    border-right: 1px solid #040d21
}

.home-repo-editor-file {
    background-color: #19253c
}

.home-repo-editor-terminal {
    min-height: 70%;
    background-color: #0c162d;
    border-top: 1px solid #040d21
}

@media(min-width: 768px) {
    .home-repo-editor-terminal {
        min-height:17.8125rem
    }
}

.home-pre {
    font-size: .8125rem;
    line-height: 1.8
}

.home-repo-comp-browser {
    visibility: hidden
}

.home-repo-comp-browser.build-in-animate {
    visibility: visible;
    animation: .7s ease home-repo-browser-fly-in both 4s
}

.home-repo-editor-ui.build-in-animate {
    animation: .4s ease home-repo-editor-img forwards 4s
}

@keyframes home-repo-editor-img {
    0% {
        opacity: 1
    }

    100% {
        opacity: .4
    }
}

@keyframes home-repo-editor-fly-up {
    to {
        min-height: 0;
        transform: translateY(-17px) scale(0.95, 0.95, 1)
    }
}

@keyframes home-repo-editor-fly-up-md {
    to {
        transform: translateY(-34px) scale(0.95, 0.95, 1)
    }
}

@keyframes home-repo-editor-fly-up-lg {
    to {
        transform: translateY(-50px) scale(0.95, 0.95, 1)
    }
}

@keyframes home-repo-browser-fly-in {
    0% {
        opacity: 0;
        transform: scale3d(1.05, 1.05, 1) translateY(4%)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(0)
    }
}

.package-registry {
    box-shadow: 0 0 0 1px rgba(255,255,255,.1),0 34px 65px #040d21,0 2.75px 2.21px rgba(0,0,0,.07),0 6.65px 5.32px rgba(0,0,0,.043),0 12.5px 10px rgba(0,0,0,.03),0 22px 18px rgba(0,0,0,.03),0 42px 33.4px rgba(0,0,0,.02),0 100px 80px rgba(0,0,0,.017)
}

.home-pr-description,.home-pr-comment,.home-pr-merge {
    max-width: 490px;
    font-size: 0;
    background-color: var(--color-canvas-default);
    box-shadow: 0 0 0 1px rgba(53,72,91,.05);
    transition: transform .6s cubic-bezier(0.16, 1, 0.3, 1);
    transform: translateX(35%)
}

.home-pr-description img,.home-pr-comment img,.home-pr-merge img {
    opacity: .25;
    transition: opacity .6s cubic-bezier(0.16, 1, 0.3, 1)
}

.home-pr-description.build-in-animate,.home-pr-comment.build-in-animate,.home-pr-merge.build-in-animate {
    box-shadow: 0 0 0 1px rgba(53,72,91,.14),0 2px 2px rgba(0,0,0,.03),0 4px 4px rgba(0,0,0,.04),0 10px 8px rgba(0,0,0,.05),0 15px 15px rgba(0,0,0,.06),0 30px 30px rgba(0,0,0,.07),0 70px 65px rgba(0,0,0,.09);
    opacity: 1;
    transform: translateX(0)
}

.home-pr-description.build-in-animate img,.home-pr-comment.build-in-animate img,.home-pr-merge.build-in-animate img {
    opacity: 1
}

.home-mobile-iphone {
    max-width: 280px;
    min-height: 568px;
    font-size: 0;
    background-color: #040d21;
    border: 1rem solid #040d21;
    border-radius: 2.6875rem
}

.home-desktop-comp {
    max-width: 490px;
    min-height: 450px
}

@media(min-width: 1012px) {
    .home-desktop-comp {
        min-height:569px
    }
}

.home-desktop {
    width: 144.75%;
    font-size: 0;
    border-radius: .625rem
}

.home-cli {
    bottom: 2%;
    opacity: 0;
    transition: transform .6s,opacity .6s;
    transform: translate(10%, 0)
}

@media(min-width: 544px) {
    .home-cli {
        bottom:5%
    }
}

@media(min-width: 1012px) {
    .home-cli {
        bottom:10%
    }
}

.home-cli.build-in-animate {
    opacity: 1;
    transform: translate(0, 0)
}

.home-pr-screen {
    width: 129.5%;
    margin-top: -10%;
    opacity: .25
}

.home-codespaces-copy-item {
    margin-bottom: 69vh
}

.home-codespaces-copy-item-1 {
    margin-top: 20vh
}

.home-codespaces-copy-item-3 {
    height: 78vh;
    margin-bottom: 0
}

@media(min-width: 768px) {
    .home-codespaces-copy-item-3 {
        height:70vh
    }
}

@media(min-width: 1012px) {
    .home-codespaces-copy-item-3 {
        height:58vh
    }
}

@media(min-width: 768px) {
    .home-codespaces-container {
        padding-top:6.5rem
    }
}

.home-codespaces-img-container {
    min-height: 100vh;
    pointer-events: none
}

@media(min-width: 1012px) {
    .home-codespaces-img-container {
        height:100vh;
        padding-top: 18vh;
        padding-bottom: 8vh
    }
}

.home-codespaces-view {
    position: relative;
    bottom: -60vh;
    width: 175%
}

@media(min-width: 544px) {
    .home-codespaces-view {
        width:130%
    }
}

@media(min-width: 768px) {
    .home-codespaces-view {
        width:125%
    }
}

@media(min-width: 1012px) {
    .home-codespaces-view {
        bottom:auto;
        width: auto;
        height: 100%;
        max-height: 740px
    }
}

.home-codespaces-view-2,.home-codespaces-view-3 {
    position: absolute;
    opacity: 0
}

.home-codespaces-illo {
    padding: 18.75rem 0 0
}

@media(min-width: 1012px) {
    .home-codespaces-illo {
        padding:18.75rem 0 10rem
    }
}

.home-codespaces-copy-item-2.build-in-animate~.home-codespaces-illo .home-codespaces-view-1 {
    position: absolute;
    opacity: 0
}

.home-codespaces-copy-item-2.build-in-animate~.home-codespaces-illo .home-codespaces-view-2 {
    position: relative;
    opacity: 1
}

.home-codespaces-copy-item-3.build-in-animate~.home-codespaces-illo .home-codespaces-view-1 {
    position: absolute;
    opacity: 0
}

.home-codespaces-copy-item-3.build-in-animate~.home-codespaces-illo .home-codespaces-view-3 {
    position: relative;
    opacity: 1
}

.home-codespaces-glow-container {
    right: 0;
    left: -70%
}

.home-codespaces-glow {
    bottom: 0;
    transform: translateY(50%)
}

@media(min-width: 1012px) {
    .home-codespaces-glow {
        top:50%;
        bottom: auto;
        left: 0;
        width: 120%;
        height: 100vh;
        transform: translateY(-50%)
    }
}

.home-workflow-comp {
    max-width: 706px;
    font-size: 0;
    opacity: 0
}

.home-workflow-comp.build-in-animate {
    animation: .6s cubic-bezier(0.535, 0.15, 0.425, 1) home-enter both
}

.home-workflow-comp.build-in-animate .home-workflow-sidebar {
    animation: .6s ease-in-out home-worflow-sidebar both
}

.home-workflow-comp.build-in-animate .home-workflow-actions {
    animation: 1.2s cubic-bezier(0.535, 0.15, 0.425, 1) home-worflow-actions both
}

@keyframes home-worflow-sidebar {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes home-worflow-actions {
    0% {
        transform: translateY(-45%)
    }

    100% {
        transform: translateY(0)
    }
}

.home-matrix-comp {
    width: 100%
}

@media(min-width: 1012px) {
    .home-matrix-comp {
        left:50%;
        width: 140%;
        transform: translateX(-50%)
    }
}

.home-matrix-comp.build-in-animate .home-matrix-build {
    visibility: visible;
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-matrix-build forwards
}

.home-matrix-comp.build-in-animate .home-matrix-test {
    visibility: visible;
    box-shadow: 0 0 0 1px rgba(53,72,91,.14),0 2px 2px rgba(0,0,0,.03),0 4px 4px rgba(0,0,0,.04),0 10px 8px rgba(0,0,0,.05),0 15px 15px rgba(0,0,0,.06),0 30px 30px rgba(0,0,0,.07),0 70px 65px rgba(0,0,0,.09);
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-matrix-test forwards
}

.home-matrix-comp.build-in-animate .home-matrix-publish {
    visibility: visible;
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-matrix-publish forwards
}

.home-matrix-comp.build-in-animate .home-matrix-string::before {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: .4s
}

.home-matrix-spinner-1,.home-matrix-spinner-2,.home-matrix-spinner-3 {
    opacity: 0
}

.build-in-animate .home-matrix-spinner-1 {
    transform-origin: center;
    animation: .4s linear spin 8 none
}

.build-in-animate .home-matrix-spinner-2 {
    transform-origin: center;
    animation: .4s linear spin 9 none
}

.build-in-animate .home-matrix-spinner-3 {
    transform-origin: center;
    animation: .4s linear spin 10 none
}

.home-matrix-success-1,.home-matrix-success-2,.home-matrix-success-3 {
    visibility: hidden
}

.build-in-animate .home-matrix-success-1 {
    visibility: visible;
    transition-delay: 3.2s
}

.build-in-animate .home-matrix-success-2 {
    visibility: visible;
    transition-delay: 3.6s
}

.build-in-animate .home-matrix-success-3 {
    visibility: visible;
    transition-delay: 4s
}

@keyframes show-hide {
    0% {
        visibility: hidden
    }

    100% {
        visibility: visible
    }
}

@keyframes home-matrix-build {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93) translateX(3.125rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateX(0)
    }
}

@keyframes home-matrix-test {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

@keyframes home-matrix-publish {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93) translateX(-3.125rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateX(0)
    }
}

.home-matrix-string::before {
    position: absolute;
    top: 2.3125rem;
    right: 20%;
    left: 20%;
    display: block;
    height: 2px;
    content: "";
    background: var(--color-border-default);
    opacity: 0
}

.home-matrix-tab-container {
    bottom: 100%;
    left: -1px;
    height: 21px
}

.home-matrix-tab {
    height: 21px
}

.home-matrix-tab::before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: -1px;
    left: 1px;
    display: block;
    content: "";
    background: var(--color-canvas-default);
    border-radius: .375rem .375rem 0 0;
    box-shadow: 0 0 0 1px rgba(53,72,91,.14) !important
}

.home-matrix-connector {
    position: absolute;
    top: 2rem;
    left: -6px;
    width: 12px;
    height: 12px
}

.home-matrix-build .home-matrix-connector {
    top: 1rem
}

.home-matrix-connector::before {
    position: relative;
    z-index: 1;
    display: block;
    width: 6px;
    height: 6px;
    margin: 3px;
    content: "";
    background: var(--color-neutral-muted);
    border-radius: 50%
}

.home-matrix-connector--right {
    right: -6px;
    left: auto
}

.home-matrix-connector--right .home-matrix-connector-bg {
    right: 0
}

.home-matrix-connector--right .home-matrix-connector-bg::before {
    right: 1px
}

.home-matrix-connector-bg {
    position: absolute;
    top: 0;
    width: 7px;
    height: 12px;
    padding: 1px;
    overflow: hidden
}

.home-matrix-connector-bg::before {
    position: absolute;
    display: block;
    width: 11px;
    height: 10px;
    content: "";
    background: var(--color-canvas-default);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(53,72,91,.14) !important
}

.home-matrix-build {
    max-width: 260px;
    font-size: 0;
    visibility: hidden;
    opacity: 0
}

.home-matrix-test,.home-matrix-publish {
    max-width: 292px;
    font-size: 0;
    visibility: hidden
}

.build-in-animate .home-actions-spinner {
    animation: .4s linear spin infinite
}

.home-actions-success {
    box-shadow: inset 0 0 0 0 var(--color-success-emphasis);
    transition: transform .4s,opacity .4s
}

.home-actions-success .home-actions-success-check {
    width: 50%;
    opacity: 0;
    transition: transform .4s,opacity .4s;
    transform: translate(50%, 87%) scale(0.9)
}

.build-in-animate .home-actions-success {
    animation: .5s ease-in-out home-actions-success 3.5s forwards
}

.build-in-animate .home-actions-success .home-actions-success-check {
    animation: .2s ease-in-out home-actions-success-check 4s forwards
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg)
    }

    100% {
        opacity: 1;
        transform: rotate(360deg)
    }
}

@keyframes home-actions-success {
    from {
        box-shadow: inset 0 0 0 0 var(--color-success-emphasis)
    }

    to {
        box-shadow: inset 0 0 0 170px var(--color-success-emphasis)
    }
}

@keyframes home-actions-success-check {
    0% {
        opacity: 0;
        transform: translate(50%, 87%) scale3d(0.9, 0.9, 0.9)
    }

    90% {
        transform: translate(50%, 87%) scale3d(1.2, 1.2, 1.2)
    }

    100% {
        opacity: 1;
        transform: translate(50%, 87%) scale3d(1, 1, 1)
    }
}

.home-dependabot-comp {
    max-width: 706px;
    margin-top: -2rem;
    font-size: 0;
    visibility: hidden
}

.home-dependabot-comp.build-in-animate {
    visibility: visible;
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-enter forwards
}

.home-dependabot-comp.build-in-animate .home-dependabot-pr {
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-dependabot-pr forwards
}

.home-dependabot-comp.build-in-animate .home-dependabot-merge {
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-dependabot-merge forwards
}

@keyframes home-dependabot-pr {
    0% {
        transform: translateY(2rem)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes home-dependabot-merge {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(14%)
    }
}

.home-codeql-step-1,.home-codeql-step-2,.home-codeql-step-3 {
    font-size: 0;
    visibility: hidden
}

.home-codeql-comp {
    max-width: 490px
}

.home-codeql-comp.build-in-animate .home-codeql-step-2 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-codeql-step-2 forwards
}

.home-codeql-comp.build-in-animate .home-codeql-step-3 {
    visibility: visible;
    animation: .2s cubic-bezier(0.16, 1, 0.3, 1) home-codeql-step-3 forwards
}

.home-codeql-comp.build-in-animate .home-codeql-description {
    opacity: 1;
    transform: translateY(0)
}

.build-in-animate .home-codeql-step-1 {
    visibility: visible;
    box-shadow: 0 0 65px rgba(237,78,80,.4),0 0 0 1px rgba(255,255,255,.1),0 2px 2px rgba(0,0,0,.03),0 4px 4px rgba(0,0,0,.04),0 10px 8px rgba(0,0,0,.05),0 15px 15px rgba(0,0,0,.06),0 30px 30px rgba(0,0,0,.07),0 70px 65px rgba(0,0,0,.09);
    animation: .6s cubic-bezier(0.16, 1, 0.3, 1) home-codeql-step-1 forwards
}

.home-codeql-step-2 {
    left: 50%;
    width: 93%;
    margin-left: -46.5%;
    transform: translateY(-2.3rem)
}

.home-codeql-step-3 {
    left: 50%;
    width: 87%;
    margin-left: -43.5%;
    transform: translateY(-4.4rem)
}

.home-codeql-description {
    opacity: 0;
    transition: transform .6s,opacity .6s;
    transform: translateY(-45%)
}

@keyframes home-codeql-step-1 {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93) translateY(-3.0625rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(0)
    }
}

@keyframes home-codeql-step-2 {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93) translateY(-4.4rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(-2.3rem)
    }
}

@keyframes home-codeql-step-3 {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93) translateY(-6.7rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(-4.4rem)
    }
}

.home-secret-comp {
    max-width: 490px;
    font-size: 0
}

.home-secret-comp.build-in-animate .home-secret-alert {
    visibility: visible;
    box-shadow: 0 0 65px rgba(237,78,80,.4),0 0 0 1px rgba(255,255,255,.1),0 2px 2px rgba(0,0,0,.03),0 4px 4px rgba(0,0,0,.04),0 10px 8px rgba(0,0,0,.05),0 15px 15px rgba(0,0,0,.06),0 30px 30px rgba(0,0,0,.07),0 70px 65px rgba(0,0,0,.09);
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-secret-alert forwards
}

.home-secret-comp.build-in-animate .home-secret-list {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-secret-list forwards
}

.home-secret-alert {
    visibility: hidden;
    box-shadow: 0 0 65px rgba(237,78,80,.4),0 0 0 1px rgba(255,255,255,.1),0 2px 2px rgba(0,0,0,.03),0 4px 4px rgba(0,0,0,.04),0 10px 8px rgba(0,0,0,.05),0 15px 15px rgba(0,0,0,.06),0 30px 30px rgba(0,0,0,.07),0 70px 65px rgba(0,0,0,.09)
}

.home-secret-list {
    visibility: hidden
}

.home-security-point-3::after {
    display: block
}

@media(min-width: 768px) {
    .home-security-point-3::after {
        display:none
    }
}

.home-security-alert-fan {
    width: 65.25rem;
    margin-left: -1.6875rem;
    transform: translateX(-50%)
}

@media(min-width: 544px) {
    .home-security-alert-fan {
        margin-left:-2.9375rem
    }
}

@keyframes home-secret-alert {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 0.93) translateY(2rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(0)
    }
}

@keyframes home-secret-list {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes home-enter {
    0% {
        opacity: 0;
        transform: scale3d(0.93, 0.93, 1) translateY(3rem)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(0)
    }
}

.home-discussions-comp {
    max-width: 492px;
    margin-top: 40px;
    opacity: 0;
    transition: opacity .4s
}

@media(min-width: 1012px) {
    .home-discussions-comp {
        margin-top:-30%
    }
}

.home-discussions-comp.build-in-animate {
    opacity: 1
}

.home-discussions-comp.build-in-animate .home-discussions-1 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-community-cards-1 forwards
}

.home-discussions-comp.build-in-animate .home-discussions-2 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-community-cards-2 forwards
}

.home-discussions-comp.build-in-animate .home-discussions-2 .home-discussions-check-0 {
    animation-delay: 1.5s
}

.home-discussions-comp.build-in-animate .home-discussions-answer {
    box-shadow: 0 0 0 2px #28a745;
    transition-delay: 1.5s;
    transition-duration: .2s;
    transition-property: box-shadow
}

.home-discussions-1,.home-discussions-2 {
    width: 78%;
    max-width: 382px;
    margin: 0;
    font-size: 0
}

.home-discussions-2 {
    margin: -20% 0 0
}

.home-discussions-check-0,.home-discussions-check-1,.home-discussions-check-2,.home-discussions-check-3 {
    top: 3.4%;
    right: 10.5%;
    opacity: 0
}

.home-discussions-check-0 {
    width: 7.25%;
    border: 2px solid #fff;
    border-radius: 30px
}

.home-discussions-check-0.build-in-animate {
    animation: .2s ease-in-out home-discussions-check-0 forwards
}

.home-discussions-check-1.build-in-animate {
    animation: 2s ease-in-out .7s home-discussions-check-1 infinite
}

.home-discussions-check-2.build-in-animate {
    animation: 3s ease-in-out 1.2s home-discussions-check-2 infinite
}

.home-discussions-check-3.build-in-animate {
    animation: 4s ease-in-out 1.7s home-discussions-check-3 infinite
}

.home-discussions-answer {
    box-shadow: 0 0 0 1px rgba(53,72,91,.14)
}

@keyframes home-discussions-check-0 {
    0% {
        opacity: 0;
        transform: scale3d(0.9, 0.9, 0.9)
    }

    90% {
        transform: scale3d(1.2, 1.2, 1.2)
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

@keyframes home-discussions-check-1 {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 0, 0) rotate(0)
    }

    45% {
        opacity: 0
    }

    50% {
        opacity: .25
    }

    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1.2) translate3d(-25%, -160%, 0) rotate(-25deg)
    }
}

@keyframes home-discussions-check-2 {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 0, 0) rotate(0)
    }

    45% {
        opacity: 0
    }

    50% {
        opacity: .25
    }

    100% {
        opacity: 0;
        transform: scale3d(1.4, 1.4, 1.4) translate3d(-125%, -100%, 0) rotate(-35deg)
    }
}

@keyframes home-discussions-check-3 {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 0, 0) rotate(0)
    }

    45% {
        opacity: 0
    }

    50% {
        opacity: .25
    }

    100% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1.1) translate3d(150%, -120%, 0) rotate(35deg)
    }
}

.home-readme-comp {
    max-width: 492px;
    opacity: 0;
    transition: opacity .4s
}

.home-readme-comp.build-in-animate {
    opacity: 1
}

.home-readme-comp.build-in-animate .home-readme-1 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-community-cards-1 forwards
}

.home-readme-comp.build-in-animate .home-readme-2 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-community-cards-2 forwards
}

.home-readme-1,.home-readme-2 {
    width: 78%;
    max-width: 382px;
    margin: 0 0 -40%;
    font-size: 0
}

@media(min-width: 1012px) {
    .home-readme-1,.home-readme-2 {
        margin:-2.5rem 0 -45%
    }
}

.home-readme-2 {
    margin: 0
}

@media(min-width: 1012px) {
    .home-readme-2 {
        margin:0 0 -2.5rem
    }
}

.home-sponsors-comp {
    max-width: 490px;
    opacity: 0;
    transition: opacity .4s
}

.home-sponsors-comp.build-in-animate {
    opacity: 1
}

.home-sponsors-comp.build-in-animate .home-sponsors-1 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-community-cards-1 forwards
}

.home-sponsors-comp.build-in-animate .home-sponsors-1 .home-sponsors-heart-1,.home-sponsors-comp.build-in-animate .home-sponsors-1 .home-sponsors-heart-2,.home-sponsors-comp.build-in-animate .home-sponsors-1 .home-sponsors-heart-3 {
    bottom: 10%;
    left: 8%;
    opacity: 0;
    animation-delay: .5s
}

.home-sponsors-comp.build-in-animate .home-sponsors-2 {
    visibility: visible;
    animation: .4s cubic-bezier(0.16, 1, 0.3, 1) home-community-cards-2 forwards
}

.home-sponsors-comp.build-in-animate .home-sponsors-2 .home-sponsors-heart-1,.home-sponsors-comp.build-in-animate .home-sponsors-2 .home-sponsors-heart-2,.home-sponsors-comp.build-in-animate .home-sponsors-2 .home-sponsors-heart-3 {
    bottom: 10%;
    left: 0
}

.home-sponsors-1,.home-sponsors-2 {
    width: 78%;
    max-width: 382px;
    margin-top: 0;
    font-size: 0;
    visibility: hidden
}

@media(min-width: 1012px) {
    .home-sponsors-1,.home-sponsors-2 {
        margin-top:-20%
    }
}

.home-sponsors-2 {
    margin-top: -25%
}

.home-sponsors-heart-1.build-in-animate {
    animation: 4s cubic-bezier(0.535, 0.15, 0.425, 1) home-sponsors-heart-1 infinite
}

.home-sponsors-heart-2.build-in-animate {
    animation: 5s cubic-bezier(0.535, 0.15, 0.425, 1) -1s home-sponsors-heart-2 infinite
}

.home-sponsors-heart-3.build-in-animate {
    animation: 6s cubic-bezier(0.535, 0.15, 0.425, 1) -2s home-sponsors-heart-3 infinite
}

@keyframes home-community-cards-1 {
    0% {
        transform: translate3d(7%, 12%, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes home-community-cards-2 {
    0% {
        transform: translate3d(-7%, -12%, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes home-sponsors-heart-1 {
    0% {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7) translate3d(0, 0, 0) rotate(0)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale3d(1, 1, 1) translate3d(-25%, -160%, 0) rotate(-25deg)
    }
}

@keyframes home-sponsors-heart-2 {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 0, 0) rotate(0)
    }

    50% {
        opacity: .75
    }

    100% {
        opacity: 0;
        transform: scale3d(0.75, 0.75, 0.75) translate3d(-125%, -100%, 0) rotate(-35deg)
    }
}

@keyframes home-sponsors-heart-3 {
    0% {
        opacity: 0;
        transform: scale3d(0.35, 0.35, 0.35) translate3d(0, 0, 0) rotate(0)
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(150%, -120%, 0) rotate(35deg)
    }
}

.home-footer-illustration {
    left: 50%;
    min-width: 119%;
    max-width: 1450px;
    margin-bottom: -28%;
    transform: translate(-50%, -50%)
}

@media(min-width: 1012px) {
    .home-footer-illustration {
        min-width:calc(119% - 2rem)
    }
}

@media(min-width: 1248px) {
    .home-footer-illustration {
        min-width:115.5%;
        margin-bottom: -33%
    }
}

.home-featured-repos {
    left: 50%;
    width: 1080px;
    transform: translateX(-50%)
}

@media(min-width: 1012px) {
    .home-featured-repos {
        left:auto;
        width: 1216px;
        transform: translateX(0)
    }
}

.home-repo-card {
    background-color: #0c162d;
    transition: background-color .4s
}

.home-repo-card:hover {
    background-color: #19253c
}

.rounded-pill {
    border-radius: 500px
}

.password-validity-pill {
    display: inline-block;
    width: 48px;
    height: 4px;
    background-color: #627597
}

.password-validity-pill.password-validity-pill-fail {
    background-color: #ed4e50
}

.password-validity-pill.password-validity-pill-close {
    background-color: #ffd33d
}

.password-validity-pill.password-validity-pill-success {
    background-color: var(--color-success-emphasis)
}

.password-validity-summary.password-validity-summary-fail {
    color: #ed4e50
}

.password-validity-summary.password-validity-summary-close {
    color: #ffd33d
}

.password-validity-summary.password-validity-summary-success {
    color: var(--color-success-emphasis)
}

.height-full.js-webgl-globe{
    height: 1000px !important;
}
/*# sourceMappingURL=home-ef31b73d033a41d44d8a4778f8af2e3aa97754b8d1f5e45b018fb9ad4cbc2c54b848314cbe411ec27e3d9a62141f3341e9a1760f6ac967daf1118928ca4c34a1.css.map*/
